# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env

# Node
node_modules/

# VS Code
.vscode/

# Visual Studio
.vs/

# Logs
*.log

# Editor backups
*~

# Build
dist/
build/
bin/
obj/

# Secrets
*.pem
*.key
